/* RIVO specific colors */
:root {
    --navbar-bg-color: rgb(4, 72, 73); /* 2. Header container color */
    --footer-container-bg-color: rgb(4, 72, 73); /* 4. Footer container color */
    --btn-hover-color: rgb(39, 130, 131);  /* 6. Menu button hover color */
  }