<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Requirements &#8964;</a>
		<ul class="dropdown-menu">
			<li><a href="requirements.html">Uitgangspunten en Requirements</a></li>
			<li><a href="requirements-non-functional.html">Non Functional Requirements</a></li>
			<li><a href="nen-normen.html">NEN Normen Conformiteit</a></li>
			<li><a href="datasets.html">Datasets</a></li>
			<li><a href="must-support.html">Must Support</a></li>
		</ul>
	</li>
  <li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">RAO &#8964;</a>
		<ul class="dropdown-menu">
			<li><a href="zorgnetwerk.html">Inzage Zorgnetwerk</a></li>
			<li><a href="zorgplan.html">Zorgplan</a></li>
		</ul>
	</li>
  <li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Design &#8964;</a>
		<ul class="dropdown-menu">
			<li><a href="design.html">Design</a></li>
			<li><a href="design2.html">Design 2024</a></li>
			<li><a href="design-background.html">Design Achtergrond</a></li>
			<li><a href="design-security.html">Security Design</a></li>
			<li><a href="design-authenticatie.html">Authenticatie Bouwblok Design</a></li>
			<li><a href="design-logging.html">Logging Bouwblok Design</a></li>
			<li><a href="zorgviewer-services.html">Zorgviewer Services</a></li>
		</ul>
	</li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Checklists &amp; Aansluiten &#8964;</a>
		<ul class="dropdown-menu">
		  <li><a href="checklists.html">Checklists &amp; Aansluiten</a></li>
		  <li><a href="testing.html">Testing</a></li>
		</ul>
  </li>
  <li><a href="copyrights.html">Copyrights</a></li>
  <li><a href="changes.html">Change Log</a></li>
</ul>      
